/* 7.0 Button Stylings ---------------------------------------*/
.primaryLink{
  color: $secondaryYellow !important;
	transition: .3s ease all;
  text-decoration: none;
    &:hover{
      transition: .3s ease all;
    	color: $primaryYellow !important;
    }
}
.plainBlackLink{
  a{
    color: $black;
    transition: .3s ease all;
      &:hover{
        color: $primaryBlue;
        transition: .3s ease all;
      }
  }
}
.primaryButton{
	position: relative;
	z-index:1;
	background: $transparent;
  text-decoration: none;
  width: fit-content;
	color: $white !important;
	margin-bottom: 10px;
	transition: .1s ease all;
  border-width: 0;
  border-bottom: 2px solid $white;
  border-top: 2px solid $transparent;
  padding: 10px 20px 10px 20px;
	cursor: pointer;
    &:after{
      position: absolute;
      z-index:2;
      right: 0;
      bottom: 0;
      content: "";
      width: 2px;
      opacity: 0;
      background-color: $white;
      height: 0%;
      transition: .2s ease all;
    }
    &:before{
      position: absolute;
      z-index:2;
      left: 0;
      bottom: 0;
      content: "";
      width: 2px;
      opacity: 0;
      background-color: $white;
      height: 0%;
      transition: .2s ease all;
    }
    &:hover{
      border-top: 2px solid $white;
      transition: .1s .18s ease all;
      text-decoration: none;
        &:after{
          position: absolute;
          z-index:2;
          right: 0;
          top: 0;
          content: "";
          width: 2px;
          opacity: 1;
          background-color: $white;
          height: 100%;
          transition: .2s .15s ease all;
        }
        &:before{
          position: absolute;
          left: 0;
          bottom: 0;
          content: "";
          width: 2px;
          opacity: 1;
          background-color: $white;
          height: 100%;
          transition: .2s ease all;
        }
    }
}
.primaryButtonReverse{
	position: relative;
	z-index:1;
	background: $transparent;
	color: $primaryBlue !important;
  text-decoration: none;
  width: fit-content;
	margin-bottom: 10px;
	transition: .1s ease all;
  border-width: 0;
  border-bottom: 2px solid $primaryBlue;
  border-top: 2px solid $transparent;
  padding: 10px 20px 10px 20px;
	cursor: pointer;
    a{
      text-decoration: none;
      color: $primaryBlue !important;
    }
    &:after{
      position: absolute;
      z-index:2;
      right: 0;
      bottom: 0;
      content: "";
      width: 2px;
      opacity: 0;
      background-color: $primaryBlue;
      height: 0%;
      transition: .2s ease all;
    }
    &:before{
      position: absolute;
      z-index:2;
      left: 0;
      bottom: 0;
      content: "";
      width: 2px;
      opacity: 0;
      background-color: $primaryBlue;
      height: 0%;
      transition: .2s ease all;
    }
    &:hover{
      border-top: 2px solid $primaryBlue;
      transition: .1s .18s ease all;
      text-decoration: none;
        &:after{
          position: absolute;
          z-index:2;
          right: 0;
          top: 0;
          content: "";
          width: 2px;
          opacity: 1;
          background-color: $primaryBlue;
          height: 100%;
          transition: .2s .15s ease all;
        }
        &:before{
          position: absolute;
          left: 0;
          bottom: 0;
          content: "";
          width: 2px;
          opacity: 1;
          background-color: $primaryBlue;
          height: 100%;
          transition: .2s ease all;
        }
    }
}
.whiteButton{
	position: relative;
	z-index:1;
	border: 2px solid $white;
	border-radius: 10px;
	background: $white;
	padding: 10px 50px 10px 50px;
	color: $primaryBlue;
	transition: .3s ease all;
	cursor: pointer;
    &:hover{
      background: $transparent;
    	color: $white;
    	transition: .3s ease all;
    }
}
.feedbackSubmit{
	position: relative;
	z-index:1;
	border: 2px solid $white;
	border-radius: 10px;
	background: $white;
	padding: 10px 20px 10px 20px;
	color: $primaryBlue;
	transition: .3s ease all;
	cursor: pointer;
  font-size: 14px !important;
    &:hover{
      background: $transparent;
    	color: $white;
    	transition: .3s ease all;
    }
}
.centerButton{
	margin: 0 auto;
	text-align: center;
}
.buttonWrap{
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	margin: 50px auto;
	text-align: center;
}
.flexListLink{
  color: $secondaryYellow !important;
	transition: .3s ease all;
  text-decoration: none;
    &:hover{
      transition: .3s ease all;
    	color: $primaryYellow !important;
    }
}
