/* 7.0 Button Stylings ---------------------------------------*/
.primaryLink{
  color: $secondaryYellow !important;
	transition: .3s ease all;
    &:hover{
      transition: .3s ease all;
    	color: $primaryYellow !important;
    }
}
.primaryButton{
	position: relative;
	z-index:1;
	border: 2px solid $primaryBlue;
	border-radius: 10px;
	background: $primaryBlue;
	color: $white !important;
	margin-bottom: 10px;
	transition: .2s ease all;
	cursor: pointer;
    &:hover{
      background: $secondaryBlue !important;
      border: 2px solid $secondaryBlue !important;
    	transition: .2s ease all;
    }
    &:hover .arrowIcon{
      margin-left: 25px;
      transition: .2s ease all;
    }
    @include breakpoint(smallScreen){
      padding: 10px 20px 10px 20px;
    }
    @include breakpoint(largeMobileScreen){
      padding: 10px 20px 10px 20px;
    }
    @include breakpoint(tabletScreen){
      padding: 10px 50px 10px 50px;
    }
}
.primaryButtonReverse{
	position: relative;
	z-index:1;
	border: 2px solid $primaryBlue;
	border-radius: 30px;
	padding: 10px 50px 10px 50px;
	color: $primaryBlue;
	margin-bottom: 10px;
	transition: .3s ease all;
	cursor: pointer;
    &:hover{
      background: $primaryBlue;
    	transition: .3s ease all;
    	color: $white;
    }
}
.plainRedButton{
	position: relative;
	z-index:1;
	border: 2px solid $primaryBlue;
	background: $primaryBlue;
	padding: 10px 50px 10px 50px;
	color: $white;
	margin-bottom: 10px;
	transition: .3s ease all;
	cursor: pointer;
}
.whiteButton{
	position: relative;
	z-index:1;
	border: 2px solid $white;
	border-radius: 10px;
	background: $white;
	padding: 10px 50px 10px 50px;
	color: $primaryBlue;
	transition: .3s ease all;
	cursor: pointer;
    &:hover{
      background: $transparent;
    	color: $white;
    	transition: .3s ease all;
    }
}
.feedbackSubmit{
	position: relative;
	z-index:1;
	border: 2px solid $white;
	border-radius: 10px;
	background: $white;
	padding: 10px 20px 10px 20px;
	color: $primaryBlue;
	transition: .3s ease all;
	cursor: pointer;
  font-size: 14px !important;
    &:hover{
      background: $transparent;
    	color: $white;
    	transition: .3s ease all;
    }
}
.centerButton{
	margin: 0 auto;
	text-align: center;
}
.buttonWrap{
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	margin: 50px auto;
	text-align: center;
}
