/* 8.0 General Body Styles -------------------------------------------*/
body{
	background: $white;
	margin: 0;
}
::selection{
		background: rgba(0, 87, 151, .5);
}
::-moz-selection{
	background: rgba(0, 87, 151, .5);
}
::-ms-selection{
	background: rgba(0, 87, 151, .5);
}
.removeBottomMargin{
	margin-bottom: -7px;
}
#privacyPolicy{
	@include breakpoint(smallScreen){
			margin-top: 75px;
	}
	@include breakpoint(largeMobileScreen){
			margin-top: 125px;
	}
}
