/* 8.0 General Body Styles -------------------------------------------*/
body{
	background: $white;
	margin: 0;
}
::selection{
		background: rgba(0, 87, 151, .5);
}
::-moz-selection{
	background: rgba(0, 87, 151, .5);
}
::-ms-selection{
	background: rgba(0, 87, 151, .5);
}
.plainLink{
	text-decoration: none;
	color: $secondaryYellow;
	transition: .3s ease all;
    &:hover{
    color: $primaryYellow;
    transition: .3s ease all;
    }
}
.removeBottomMargin{
	margin-bottom: -7px;
}
