/* 8.0 General Body Styles -------------------------------------------*/
body{
	background: $white;
	margin: 0;
}
::selection{
		background: rgba(0, 87, 151, .5);
}
::-moz-selection{
	background: rgba(0, 87, 151, .5);
}
::-ms-selection{
	background: rgba(0, 87, 151, .5);
}
.plainLink{
	text-decoration: none;
	color: $primaryBlue !important;
	transition: .3s ease all;
	position: relative;
    &:hover{
    color: $secondaryBlue;
    transition: .3s ease all;
			&:after{
				position: absolute;
				height: 2px;
				width: 100%;
				background: $secondaryBlue;
				content: "";
				bottom: 0;
				left: 0;
				opacity: 1;
				transition: .3s ease all;
			}
    }
		&:after{
			position: absolute;
			height: 2px;
			width: 100%;
			background: $secondaryBlue;
			content: "";
			bottom: 25%;
			left: 0;
			opacity: 0;
			transition: .3s ease all;
		}
}
.removeBottomMargin{
	margin-bottom: -7px;
}
#privacyPolicy{
	@include breakpoint(smallScreen){
			margin-top: 75px;
	}
	@include breakpoint(largeMobileScreen){
			margin-top: 125px;
	}
}
