/*9.0 Icon Styling -------------------------------------------*/
.whiteIcon{
	color: $white;
	transition: .3s ease all;
	font-size: 16px;
}
.greyIcon{
	color: $lightGrey;
}
.primaryIcon{
	color: $primaryBlue;
	font-size: 16px;
}
.iconBlock{
	display: flex;
	flex-direction: column;
}
.footerSocialIcon{
	stroke: $secondaryYellow;
  fill: $secondaryYellow;
	margin: -5px;
	transition: .3s ease all;
	height: 30px;
	width: 30px;
		&:hover{
			color: $primaryYellow;
			transition: .3s ease all;
		}
}
.arrowIcon{
	margin-left: 20px;
	transition: .2s ease all;
}
.smallIcon{
	position: absolute;
	width: 0;
	height: 0;
	overflow: hidden;
}
.icon{
  display: inline-block;
  width: 14px;
  height: 14px;
  stroke-width: 0;
  stroke: $white;
  fill: $white;
}
.blueIcon{
  display: inline-block;
  width: 14px;
  height: 14px;
  stroke-width: 0;
  stroke: $primaryBlue;
  fill: $primaryBlue;
}
.mediumIcon{
	display: inline-block;
  width: 16px;
  height: 16px;
  stroke-width: 0;
  stroke: $white;
  fill: $white;
}
