/*9.0 Icon Styling -------------------------------------------*/
.whiteIcon{
	color: $white;
	transition: .3s ease all;
	font-size: 16px;
}
.greyIcon{
	color: $lightGrey;
}
.primaryIcon{
	color: $primaryBlue;
}
.iconBlock{
	display: flex;
	flex-direction: column;
}
.footerSocialIcon{
	color: $secondaryYellow;
	margin: 10px;
	transition: .3s ease all;
	font-size: 30px;
		&:hover{
			color: $primaryYellow;
			transition: .3s ease all;
		}
}
.arrowIcon{
	margin-left: 20px;
	transition: .2s ease all;
}
