/* 3.0 Our page layouts -------------------------------------------*/
.col20{
	width: 20%;
    @include breakpoint(smallScreen){
      width: 100%;
    }
    @include breakpoint(largeMobileScreen){
      width: 100%;
    }
    @include breakpoint(laptopScreen){
      width: 20%;
    }
}
.col30{
	width: 33.3333%;
    @include breakpoint(smallScreen){
      width: 100%;
    }
    @include breakpoint(largeMobileScreen){
      width: 100%;
    }
    @include breakpoint(laptopScreen){
      width: 33.3333%;
    }
}
.col40{
	width: 40%;
    @include breakpoint(smallScreen){
      width: 100%;
    }
    @include breakpoint(largeMobileScreen){
      width: 100%;
    }
    @include breakpoint(laptopScreen){
      width: 40%;
    }
}
.col50{
	width: 50%;
    @include breakpoint(smallScreen){
      width: 100%;
    }
    @include breakpoint(largeMobileScreen){
      width: 100%;
    }
    @include breakpoint(laptopScreen){
      width: 50%;
    }
}
.col60{
	width: 60%;
    @include breakpoint(smallScreen){
      width: 100%;
    }
    @include breakpoint(largeMobileScreen){
      width: 100%;
    }
    @include breakpoint(laptopScreen){
      width: 60%;
    }
}
.col70{
	width: 70%;
    @include breakpoint(smallScreen){
      width: 100%;
    }
    @include breakpoint(largeMobileScreen){
      width: 100%;
    }
    @include breakpoint(laptopScreen){
      width: 70%;
    }
}
.col80{
  width: 80%;
    @include breakpoint(smallScreen){
      width: 100%;
    }
    @include breakpoint(largeMobileScreen){
      width: 100%;
    }
    @include breakpoint(laptopScreen){
      width: 80%;
    }
}
.pageWidth{
		width: 70%;
		height: 100%;
		margin: 0 auto;
      @include breakpoint(smallScreen){
        width: 90%;
      }
      @include breakpoint(largeMobileScreen){
        width: 90%;
      }
      @include breakpoint(laptopScreen){
        width: 90%;
      }
			@include breakpoint(largeScreen){
        width: 70%;
      }
	}
.fullWidth{
  width: 100%;
}
.navWidth{
	height: 100%;
	margin: 0 auto;
	@include breakpoint(smallScreen){
		width: 95%;
	}
	@include breakpoint(largeMobileScreen){
		width: 95%;
	}
	@include breakpoint(largeScreen){
		width: 90%;
	}
}
.contentBlock{
  	width: 70%;
    @include breakpoint(smallScreen){
      width: 90%;
      margin: 0 auto;
		  height: auto;
      padding: 50px 20px 50px 20px;
    }
    @include breakpoint(largeMobileScreen){
      width: 90%;
      margin: 0 auto;
		  height: auto;
      padding: 50px 20px 50px 20px;
    }
    @include breakpoint(laptopScreen){
      width: 70%;
    }
  }
.blockText{
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: $lightGrey;
	border-radius: 3px;
    @include breakpoint(smallScreen){
      padding: 20px;
    }
    @include breakpoint(largeMobileScreen){
      padding: 20px;
    }
    @include breakpoint(laptopScreen){
      padding: 25px;
    }
}
.blockTextSecondary{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
    @include breakpoint(smallScreen){
      padding: 20px;
			left: 0;
    }
    @include breakpoint(largeMobileScreen){
      padding: 20px;
			left: 0;
			width: 90%;
			margin: 0 auto;
    }
    @include breakpoint(laptopScreen){
      padding: 25px;
			left: 25px;
			width: 100%;
			margin: 0;
    }
		@media ( min-width: 1250px){
			padding: 50px 25px;
			left: 10px;
		}
}
.hero{
	position: relative;
	z-index: 1;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
    @include breakpoint(smallScreen){
      height: 90vh;
			background-position: center;
    }
    @include breakpoint(largeMobileScreen){
      height: 90vh;
			background-position: center;
    }
		@include breakpoint(tabletScreen){
      height: 90vh;
			background-position: left;
    }
    @include breakpoint(laptopScreen){
      height: 90vh;
			background-position: left;
    }
	}
	.heroHeadingContainer{
		display: flex;
		@include breakpoint(smallScreen){
			align-items: flex-end;
			position: relative;
			bottom: 10px;
		}
		@include breakpoint(largeMobileScreen){
			align-items: flex-end;
			position: relative;
			bottom: 20px;
		}
		@include breakpoint(tabletScreen){
			align-items: center;
		}
	}
.marginedHero{
	@include breakpoint(smallScreen){
		margin: 10px;
	}
	@include breakpoint(largeMobileScreen){
		margin: 20px;
	}
}
	.smallHero{
		position: relative;
		z-index: 1;
		width: 100%;
		background-size: cover;
		background-repeat: no-repeat;
	  height: 40vh;
	}
.smallHeroHeadingContainer{
	display: flex;
	@include breakpoint(smallScreen){
		align-items: flex-end;
		position: relative;
		bottom: 10px;
	}
	@include breakpoint(largeMobileScreen){
		align-items: flex-end;
		position: relative;
		bottom: 20px;
	}
}
.mediumHero{
	position: relative;
	z-index: 1;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 60vh;
}
.heroOverlay{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  height: 70vh;
  width: 100%;
  content: "";
  background: rgba(0, 0, 0, .3);
  @include breakpoint(smallScreen){
    height: 40vh;
  }
  @include breakpoint(largeMobileScreen){
    height: 60vh
  }
  @include breakpoint(laptopScreen){
    height: 70vh;
  }
}
.flex-container{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
    @include breakpoint(smallScreen){
      flex-direction: column;
    }
    @include breakpoint(largeMobileScreen){
      flex-direction: column;
    }
    @include breakpoint(laptopScreen){
      flex-direction: row;
    }
}
.flex-container-reverse{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
    @include breakpoint(smallScreen){
      flex-direction: column-reverse;
    }
    @include breakpoint(largeMobileScreen){
      flex-direction: column-reverse;
    }
    @include breakpoint(laptopScreen){
      flex-direction: row;
    }
}
.centerAlignedContainer{
	display: flex;
	align-items: center;
}
.centeredContainer{
	display: flex;
	justify-content: center;
	margin: 0 auto;
	text-align: center;
	flex-direction: column;
}
.centeredImageContainer{
	display: flex;
	@include breakpoint(laptopScreen){
		align-items: flex-start;
	}
	@include breakpoint(largeScreen){
		align-items: center;
	}
}
.marginTop{
	@include breakpoint(laptopScreen){
		margin-top: 50px;
	}
	@include breakpoint(largeScreen){
		margin-top: 0;
	}
}
.textWrap{
	padding: 20px;
}
.blockWrap{
	display: flex;
	margin-bottom: 100px;
}
.blockImage{
	display: flex;
	max-width:100%;
	max-height: 100%;
}
.imageBlock{
	padding: 100px 0 100px 0;
}
.image{
	width: 100%;
	height: auto;
}
.textBlock{
	padding: 0;
	margin: 50px 0 50px 0;
	background: $white;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.greyBlock{
	background: $lightGrey;
}
.blackBlock{
	background: $black;
}
.blueBlock{
	background: $primaryBlue;
}
.whiteBlock{
	background: $white;
}
.yellowBlock{
	background: $secondaryYellow;
}
.page-content{
	position: relative;
	z-index: 2;
	margin-top: 50vh;
	background: $white;
}
.paddedSection{
	@include breakpoint(smallScreen){
		padding: 50px 0 50px 0;
	}
	@include breakpoint(largeMobileScreen){
		padding: 50px 0 50px 0;
	}
	@include breakpoint(laptopScreen){
		padding: 100px 0 100px 0;
	}
}
.smallPaddedSection{
	@include breakpoint(smallScreen){
		padding: 25px 0 25px 0;
	}
	@include breakpoint(largeMobileScreen){
		padding: 25px 0 25px 0;
	}
	@include breakpoint(laptopScreen){
		padding: 50px 0 50px 0;
	}
}
.paddedContainer{
	padding: 2em 0;
}
.smallTextBlock{
	padding: 10px;
}
.flexListWrapper{
	display: flex;
	justify-content: center;
}
.flexList{
	display: flex;
	color: $white;
	list-style-type: none;
	padding-inline-start: 0;
	margin-block-start: 0;
  margin-block-end: 0;
	@include breakpoint(smallScreen){
		flex-direction: column;
		font-size: 1.3em;
	}
	@include breakpoint(largeMobileScreen){
		flex-direction: row;
		font-size: .8em;
	}
	@include breakpoint(tabletScreen){
		flex-direction: row;
		font-size: 1.3em;
	}
		li{
			padding: 20px;
			&:active{
				background-color: #002c47;
			}
		}
}
.limitWidth{
  max-width: 800px;
  margin: 0 auto;
}
.defaultPadding{
	padding: 150px 0 50px 0;
}
