/* 1.0 sitewide variables -------------------------------------------*/
$primaryBlue: #005797;
$secondaryBlue: #6997a9;
$primaryYellow: #e5b12b;
$secondaryYellow: #efbb50;
$black: #333333;
$white: #FFFFFF;
$transparent: rgba(0,0,0,0);
$lightGrey: #f6f6f6;
