/*
Theme Name: familyAndChildcareResponsiveChild
Theme URI: https://seejustincode.com/
Author: Justin Parsons
Author URI: https://seejustincode.com/
Description: Custom WP Theme for Change Catalyst Group
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: familyAndChildcareResponsive
Template: familyAndChildcareResponsive
*/
@import '_normalize';
@import '_variables';
@import '_breakpoints';
@import '_layout';
@import '_header';
@import '_footer';
@import '_typography';
@import '_buttons';
@import '_general';
@import '_icons';
@import '_home';
@import '_services';
@import '_contact';
