/*4.0 Header Styling -------------------------------------------*/
.site-header{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	height: 70px;
	width: 100vw;
}
.main-navigation{
	height: 100px;
	width: 100%;
	margin: 0 auto;
	background: $lightGrey;
	display: flex;
	align-items: center;
	box-shadow: 0 0 28px 0 rgba(0,0,0,.25);
		@include breakpoint(smallScreen){
			height: 70px;
		}
}
.secondaryNavigation{
	height: 30px;
	margin: 0 auto;
	width: 100%;
	background: $primaryColor;
	display: flex;
	align-items: center;
}
.menuLinkWrap{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.secondaryMenuWrap{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.secondaryLink{
	color: $white;
	padding: 4px 15px 5px 15px;
	text-decoration: none;
	transition: .3s ease all;
	font-size: 14px;
		&:hover{
			color: $lightGrey;
			transition: .3s ease all;
		}
			@include breakpoint(smallScreen){
				font-size: 12px;
			}
}
.site-content{
	margin-top: 35px;
}
.entry-header{
	display:none;
}
.siteLogo{
	margin-top: 8px;
	height: auto;
	width: 150px;
		@include breakpoint(smallScreen){
			width: 125px;
		}
}
	nav{
	display: flex;
	align-items:center;
	height: 70px;
	justify-content: space-between;
	width: 100%;
}
.menuText{
	cursor: pointer;
	font-size: 26px;
	font-weight: 700;
	padding-right: 10px;
	color: $black;
	text-decoration: none;
	transition: .3s ease-out all;
}
.menuTextWrap{
	display: flex;
	margin-left: 10px;
	right: 100px;
}
.menuBars{
	cursor: pointer;
	display: inline-block;
	width: 30px;
	padding-top: 7px;
		span{
			display: block;
			position: relative;
			background-color: $primaryColor;
			height: 3px;
			width: 100%;
			margin-top: 4px;
		}
}
.menu{
	position: absolute;
	top: 0;
	z-index: 99999;
	height: 70vh;
	width: 100vw;
	background-color: $lightGrey;
	transform: translateX(-100%);
	transition: .2s ease-out all;
}
.open{
	position: fixed;
	transform: translate(0);
	transition: .1s ease-out all;
}
.linkWrap{
	position: absolute;
	top: 150px;
	margin: 0 50px 0 50px;
	width: 90%;
	text-align: left;
	top: 75px;
	padding: 0;
	margin: 0;
		a{
			color: $black;
			font-weight: 700;
			text-decoration: none;
		}
		li{
			list-style-type: none;
			margin-top: 25px;
			font-size: 20px;
			line-height: 5px;
			padding-bottom: 10px;
			border-bottom: 1px solid $white;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
}
.menuLink{
	position: relative;
	display: block;
	padding: 10px 30px 10px 30px;
	transition: .2s ease all;
		@include breakpoint(largeScreen){
			padding: 10px 50px 10px 50px;
		}
}
.menuLink{
		&:before{
			position: absolute;
			content: "";
			bottom: 18px;
			right: 0;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background-color: $primaryColor;
			transition: .3s ease all;
				@include breakpoint(smallScreen){
					visibility: hidden;
				}
				@include breakpoint(largeMobileScreen){
					visibility: hidden;
				}
				@include breakpoint(tabletScreen){
					visibility: hidden;
				}
				@include breakpoint(laptopScreen){
					visibility: visible;
				}
		}
		&:after{
			position: absolute;
			content: "";
			top: 75%;
			left: 20%;
			width: 60%;
			height: 3px;
			opacity: 0;
			background-color: $primaryColor;
			transition: .3s ease all;
		}
		&:hover{
			&:after{
				position: absolute;
				content: "";
				top: 100%;
				left: 20%;
				width: 60%;
				height: 3px;
				opacity: 1;
				background-color: $primaryColor;
				transition: .3s ease all;
				transition: opacity .3s ease all;
		}
	}
}
.contactLink{
	position: relative;
	display: block;
	padding: 10px 30px 10px 30px;
	transition: .2s ease all;
		@include breakpoint(largeScreen){
			padding: 10px 50px 10px 50px;
		}
	&:after{
		position: absolute;
		content: "";
		top: 75%;
		left: 20%;
		width: 60%;
		height: 3px;
		opacity: 0;
		background-color: $primaryColor;
		transition: .3s ease all;
	}
	&:hover{
		&:after{
			position: absolute;
			content: "";
			top: 100%;
			left: 20%;
			width: 60%;
			height: 3px;
			opacity: 1;
			background-color: $primaryColor;
			transition: .3s ease all;
			transition: opacity .3s ease all;
		}
	}
}
.menu{
	.active{
		a{
				border-bottom: 2px solid $primaryColor !important;
				color: $white;
				width: 100%;
				text-align: initial;
			}
		}
}
.linkList2{
	.active{
		a{
			margin-bottom: -1px;
			border-bottom: 3px solid $primaryColor !important;
			transition: .2s ease all;
		}
	}
}
.closeMenu{
	position: absolute;
	cursor: pointer;
	top: 30px;
	right: 50px;
}
.closeMenuButton{
	position: absolute;
	cursor: pointer;
	bottom: 0;
	left: 0;
	height: 60px;
	background-color: $primaryColor;
}
#closeMenuTitle{
	margin: 0 auto;
	color: $black;
}
.linkList2{
	display:none;
		@include breakpoint(laptopScreen){
			display: flex;
			height: 70px;
			align-items:center;
			list-style-type: none;
			font-size: 20px;
		}
		a{
			color:$black;
			font-weight: 700;
			text-decoration: none;
			transition: .3s ease all;
			&:hover{
				color: $primaryColor !important;
				transition: .3s ease all;
			}
		}
}
.menuButtonWrap{
	display:flex;
	right: 30px;
	padding: 20px;
		@include breakpoint(laptopScreen){
			display: none;
		}
		@include breakpoint(smallScreen){
			padding: 15px;
		}
}
.heroNav{
	display: block;
	background: #1D1D1D;
	padding: 50px 0 50px 0;
	margin-top: -100px;
		@include breakpoint(smallScreen){
			display: none;
		}
		@include breakpoint(largeMobileScreen){
			display: none;
		}
		@include breakpoint(laptopScreen){
			display: block;
		}
}
.heroNavWrap{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
		@include breakpoint(smallScreen){
			flex-direction: column;
			justify-content: center;
		}
		@include breakpoint(largeMobileScreen){
			flex-direction: column;
			justify-content: center;
		}
		@include breakpoint(laptopScreen){
			flex-direction: row;
			justify-content: space-between;
		}
		li{
			list-style-type: none;
				@include breakpoint(smallScreen){
					margin: 5px 0 5px 0;
				}
		}
}
.heroNavLink{
	color: #fff;
	text-decoration: none;
	transition: .3s ease all;
	padding: 5px 0 5px 0;
		@include breakpoint(smallScreen){
			color: #3598db;
		}
		&:hover{
			color: #F00000;
			transition: .3s ease all;
		}
}
.mobileHeroNav{
	display: none;
		@include breakpoint(smallScreen){
			background: #1D1D1D;
			padding: 20px 0 20px 0;
		}
		@include breakpoint(largeMobileScreen){
			background: #1D1D1D;
			padding: 20px 0 20px 0;
		}
		@include breakpoint(laptopScreen){
			display: none;
		}
}
