/* 6.0 Site Typography -------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
	color: $black;
	font-family: "Open Sans", "Lucida Grande", "Lucida Sans", Geneva, Arial, sans-serif;
	font-size: 20px;
	line-height: 1.5;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Roboto', "Lucida Grande", "Lucida Sans", Geneva, Arial, sans-serif;
	line-height: 1.2em;
	font-weight: 700;
}
h1,h2,h3,h4,h5,h6{
	margin-block-start: 0;
	margin-block-end: 15px;
}
p{
	margin-block-start: 0;
	margin-block-end: 20px;
}
h1{
	@include breakpoint(smallScreen){
		font-size: 1.3em;
	}
	@include breakpoint(largeMobileScreen){
		font-size: 2em;
	}
	@include breakpoint(laptopScreen){
		font-size: 2em;
	}
	@include breakpoint(extraLargeScreen){
		font-size: 3em;
	}
}
h2{
	font-size: 1.5em;
}
h3{
	font-size: 1.4em;
}
h4{
	font-size: 1.3em;
}
h5{
	font-size: 1.2em;
}
h6{
	font-size: 1.1em;
}
.whiteText{
	color: $white;
}
.primaryText{
	color: $primaryColor;
}
.lightPrimaryText{
	color: $primaryColorLight;
}
.centerText{
	text-align: center;
}
.centerTextMobile{
	@include breakpoint(smallScreen){
		text-align: center;
	}
	@include breakpoint(largeMobileScreen){
		text-align: center;
	}
	@include breakpoint(laptopScreen){
		text-align: left;
	}
}
.strongText{
	font-family: 'Roboto', "Lucida Grande", "Lucida Sans", Geneva, Arial, sans-serif;
	line-height: 1.2em;
	font-weight: 700;
	font-size: 1.4em;
}
.underlinedHeading{
	position: relative;
    &:after{
      position: absolute;
    	background: $primaryColor;
    	height: 2px;
    	width: 200px;
    	content: "";
    	left: 0;
    	bottom: -20px;
    }
}
