/* 1.0 sitewide variables -------------------------------------------*/
$primaryColor: #8ebe58;
$primaryColorLight: #a1d291;
$secondaryColor: #009863;
$orangeAccent: #be8858;
$orangeAccentDark: #916238;
$black: #4e4e4e;
$white: #FFFFFF;
$transparent: rgba(0,0,0,0);
$lightGrey: #eff2ef;
